body {
  font-family: "Inter", sans-serif;
  background-color: #aab2d5;
}

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content-mensaje {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.content-mensaje img {
  align-self: flex-start;
}

.content-mensaje .texto {
  height: 200px;
  width: 50%;
  text-align: center;
  border-radius: 24px;
  border: 0px solid #0a3871;
  background-color: #aab2d5;
}

.content-mensaje .texto::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.content-aviso {
  padding-top: 150px;
}
.content-aviso .aviso {
  font-size: 12px;
  font-weight: 400;
  color: #495057;
  opacity: 0.8;
}
span {
  font-size: 15px;
  font-weight: 600;
  background: #495057;
  color: #fff;
  border: 5px solid #495057;
  border-radius: 20px 20px 20px 20px;
}
.content-botones {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.Fbutton {
  font-weight: bold;
  font-style: normal;
  background: #072b61;
  border-radius: 24px;
  border: 1px solid #0a3871;
  width: 150px;
  height: 67px;
}
.Fbutton:hover {
  background: #eff1fa;
  transform: scale(1.2);
}

.Sbutton {
  font-weight: bold;
  font-style: normal;
  background: #eff1fa;
  border-radius: 24px;
  border: 1px solid #0a3871;
  width: 150px;
  height: 67px;
}

.Sbutton:hover {
  background: #072b61;
  transform: scale(1.2);
}
.content-mostrarm {
  width: 30%;
  height: 635px;
  background-color: #757fb2;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.content-mostrarm img {
  width: 100%;
}
.Tbutton {
  display: none;
  font-weight: bold;
  font-style: normal;
  background: #eff1fa;
  border-radius: 24px;
  border: 1px solid #0a3871;
  width: 150px;
  height: 67px;
}
.Tbutton:hover {
  background: #072b61;
  transform: scale(1.2);
}
.mostrar {
  display: none;
  font-weight: lighter;
  font-style: normal;
  background: #eff1fa;
  border-radius: 24px;
  border: 1px solid #0a3871;
  width: 150px;
  height: 67px;
  text-align: center;
}
@media only screen and (max-width: 420px) {
  .contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .content-mensaje {
    width: 100%;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .content-mensaje .texto::placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 150%;
  }
  .content-mensaje .texto:focus {
    color: #072b61;
  }
  .content-mensaje .texto::marker {
    border: 0px;
  }
  .content-aviso {
    padding-top: 100px;
  }
  .contenedor .content-mostrarm {
    width: 100%;
    height: 100px;
    background-color: #757fb2;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .content-mostrarm img {
    display: none;
  }
  .content-botones {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  .Fbutton,
  .Sbutton {
    width: 100%;
    height: 67px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 950px) {
  .contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
  .content-mostrarm img {
    display: none;
  }
  .content-mostrarm {
    width: 100%;
    background-color: #757fb2;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .content-mensaje {
    width: 100%;
  }
  .content-mensaje .texto {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: lighter;
  }

  .content-mostrarm .mostrar {
    width: 50%;
    height: 50%;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: lighter;
  }
  .content-botones {
    width: 100%;
  }
  .Fbutton,
  .Sbutton,
  .Tbutton {
    width: 250px;
  }
  .content-mostrarm {
    width: 100%;
    height: 550px;
  }
}

@media only screen and (max-width: 1024px) {
  .content-mostrarm {
    max-height: 580px;
  }
  .contenedor .content-mensaje {
    height: 580px;
  }
}

@media only screen and (max-width: 1280px) {
  .content-mostrarm {
    height: 780px;
  }
  .content-mensaje {
    height: 780px;
    display: flex;
    justify-content: space-between;
  }
}
